.header {

    background-image: linear-gradient($color-white, $magenta_30);
    color: $magenta_80;
    letter-spacing: 4px;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 2px $magenta_70;

    &__social-icons {
        background-color: $magenta_30;
        box-shadow: 2px 6px;
            -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 10% 100%);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 10% 100%);
        display: flex;
        float: right;
        list-style: none;

        & > li {
            margin-right: 2rem;
            width: 2rem;

            & > a {

                & > svg {
                    fill: $magenta_90;
                }
            }           
        }

        &__github,
        &__twitter {
            transform: translateY(4px);
        }

        &__linkedin {
            transform: translateY(1px);
        }
    }

    &__title {
        font-size: 8rem;
        margin: 0;
        margin-top: 1rem;
        transform: translateX(8rem);
    }

    &__subtitle {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 6rem;
    }

    &__svg-wrapper {

        box-shadow: 0px 50px 60px -60px $magenta_100;

        .header__svg {
            transform: translateY(1rem);
            width: 100%;
        }

    }
}