.header {
    
    background-image: linear-gradient($color-white, $indigo_30);
    letter-spacing: 4px;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;

    &__social-icons {

        background-color: $indigo_30;
        box-shadow: 2px 6px;
            -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 10% 100%);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 10% 100%);
        display: flex;
        filter: drop-shadow(0 10px 30px $indigo_40);
        float: right;
        list-style: none;
        transform: translateY(-5rem);

        & > li {
            margin-right: 2rem;
            width: 2rem;

            & > a {

                & > svg {
                    fill: $indigo_90;
                }
            }           
        }

        &__github,
        &__twitter {
            transform: translateY(4px);
        }

        &__linkedin {
            transform: translateY(1px);
        }
    }

    &__title {
        @include main-text-edge;

        font-size: 8rem;
        margin: 0;
        margin-top: 6rem;
        transform: translateX(8rem);
    }

    &__subtitle {
        @include sub-text-edge;

        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        transform: translate(16rem, -4rem);
    }

    &__svg-wrapper {

        box-shadow: 0px 50px 60px -60px $indigo_100;

        .header__svg {
            transform: translateY(1rem);
            width: 100%;
        }

    }
}