//------------grid that displays portfolio items----------------

    //-------------footnotes--------------
    // ¹ If these heights are changed, images won't remain filling their containers.

.work-grid {

    background-image: linear-gradient($magenta_30, $color-white);
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
    height: 100%; //leave this height @ 100%, ¹
    justify-content: center;

    &__container-1,
    &__container-2 {

        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 5px;
        height: 100%; //leave this height @ 100%, ¹
        filter: drop-shadow(0 2px 4px $color-dark-grey);

        &__img-1,
        &__img-2 {
            border-radius: 5px;
            height: 100%; //leave this height @ 100%, ¹ 
            transition-duration: .5s;
            width: 100%;

            &:hover,
            &:hover {
                cursor: pointer;
                transform: scale(1.10);
            }

        }
    }

}