//------------grid that displays portfolio items----------------

    //-------------footnotes--------------
    // ¹ If these heights are changed, images won't remain filling their containers.

.work-grid {

    background-image: linear-gradient($indigo_30, $color-white);
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 60rem));
    height: 100%; //leave this height @ 100% ¹
    justify-content: center;
    margin-bottom: 15rem;
    padding-top: 10rem;

    &__container {

        @include border-edge;

        border-radius: 5px;
        height: 100%; //leave this height @ 100% ¹
        filter: drop-shadow(0 2px 4px $color-dark-grey);

        &__img,
        &__git {
            align-items: center;
            border-radius: 5px;
            display: flex;
            height: 100%; //leave this height @ 100% ¹
            text-align: center;
            transition-duration: .5s;
            vertical-align: middle;
            width: 100%;
        
            &:hover,
            &:hover {
                cursor: pointer;
                transform: scale(1.01);
            }

            &__svg {
                max-height: 100%;

                &__paths {
                    max-height: 100%;
                }
            }
            &__text {
                font-size: 36px;
                margin: 0;
            }
        }

        &__git {
            background-color: $indigo_30;
        }
    }
}