html {
    margin: 0px;
    padding: 0px;
    
    body {
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
        /* font-size: 16px;*/
        font-weight: 200;
        line-height: 1.7;
        margin: 0px;
        padding: 0px;
    }
}