//MINERAL UI INDIGO VALUES - https://mineral-ui.com/color
    $indigo_10: rgba(243, 243, 252, 1.0);
    $indigo_20: rgba(222, 222, 252, 1.0);
    $indigo_30: rgba(192, 192, 252, 1.0);
    $indigo_40: rgba(168, 168, 250, 1.0);
    $indigo_50: rgba(135, 135, 242, 1.0);
    $indigo_60: rgba(101, 101, 230, 1.0);
    $indigo_70: rgba(77, 77, 209, 1.0);
    $indigo_80: rgba(55, 55, 179, 1.0);
    $indigo_90: rgba(40, 40, 138, 1.0);
    $indigo_100: rgba(32, 32, 86, 1.0);

//DEFAULT PALETTE
    $color-black: rgba(0, 0, 0, 1.0);
    $color-dark-grey: rgba(69, 69, 69, 1.0);
    $color-white: rgba(255, 255, 255, 1.0);