//MINERAL UI MAGENTA VALUES, https://mineral-ui.com/color
    $magenta_10: rgba(250, 240, 244, 1.0);
    $magenta_20: rgba(250, 214, 229, 1.0);
    $magenta_30: rgba(250, 178, 208, 1.0);
    $magenta_40: rgba(247, 141, 185, 1.0);
    $magenta_50: rgba(237, 84, 148, 1.0);
    $magenta_60: rgba(214, 36, 110, 1.0);
    $magenta_70: rgba(175, 18, 84, 1.0);
    $magenta_80: rgba(140, 18, 69, 1.0);
    $magenta_90: rgba(96, 21, 52, 1.0);
    $magenta_100: rgba(66, 21, 39, 1.0);

    $color-white: rgba(255, 255, 255, 1.0);